{% load static %}
{% load thumbnail %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>About Audit Analytics</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap3.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/round-about.css' %}" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <!-- <a class="navbar-brand" href="#">Start Bootstrap</a> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/operating/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/operating/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/operating/signup">Signup</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <!-- Introduction Row -->
      <!-- <h1 class="my-4">About Us
        <small>It's Nice to Meet You!</small>
      </h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, explicabo dolores ipsam aliquam inventore corrupti eveniet quisquam quod totam laudantium repudiandae obcaecati ea consectetur debitis velit facere nisi expedita vel?</p>
 -->
      <!-- Team Members Row -->
      <div class="row">
        <div class="col-lg-12">
          <h1 class="my-4">About Me</h1>
        </div>
        <!-- <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
          <h3>John Smith
            <small>Job Title</small>
          </h3>
          <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
        </div> -->
        <div class="col-lg-10 col-sm-10 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src = "{% static 'img/Nithin.jpg' %} "/>
          <h2>Nithin Pathak</h2>
          <p> This website is collection of tools for financial audits which I've worked on. I am passionate about building new tools and coming up with innovative process for financial audits. </p>

          <p>I hold chartered accountant degree from The Institute of Chartered Accountants of India and have over 7 years of professional experience in different fields of finance </p>
        </div>
        <!-- <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
          <h3>John Smith
            <small>Job Title</small>
          </h3>
          <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
          <h3>John Smith
            <small>Job Title</small> -->
          <!-- </h3>
          <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
          <h3>John Smith
            <small>Job Title</small>
          </h3> -->
         <!--  <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
          <h3>John Smith
            <small>Job Title</small>
          </h3>
          <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
        </div> -->
      </div>

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class=" py-2 bg-dark">

      <div class="container">
        <p class="m-0 text-center text-white">Contact</p>
        <p class="m-0 text-center text-white">  Email - nithin9196@gmail.com
                                                       </p>
        <p class="m-0 text-center text-white">  Phone - 971-545751471</p>

      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{%static "js/jquery.min.js"%}"></script>
    <script src="{%static "js/bootstrap.bundle.min.js"%}"></script>
    
  </body>

</html>
