
{% load static %}


<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../../../favicon.ico"> -->

    <title>Analytics for Audit Planning</title>

    <!-- Bootstrap core CSS -->
    <link href= "{% static 'css/bootstrap.min.css' %}" rel="stylesheet">


    <link href="{% static 'css/jumbotron.css' %}" rel="stylesheet">
  </head>

  <body>

     <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <!-- <li class="nav-item active"> -->

            <a class="nav-link" href="/operating/login">Login <!-- <span class="sr-only">(current)</span> --></a>
          <!-- </li>
          <li class="nav-item active"> -->
            <a class="nav-link" href="/operating/signup">Sign Up</a>
          </li>
        </ul>
             </div>
    </nav>

    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Audit Analytics!</h1>
          <p>Audit Analytics is aimed to analyse trends in the company data and provide valuable insight for Audit.
          Enhancing Audit Quality continues to be paramount. Through use of Audit Analytics we are not only enhancing quality, we are unlocking the value of audit, going beyond compliance making audit an opportunity.</p>
          <p><a class="btn btn-primary btn-lg" href="/operating/options/" role="button">Lets get started &raquo;</a></p>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
         <!--  <div class="col-md-4"> -->
            <h2>Audit Planning Phase-1</h2>
            <p>The first phase of the model uses industry specific data to provide benchmarks and identify patterns against which the auditor can compare company's operations. </p>
            <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
          </div>
          <!-- <div class="col-md-4">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Heading</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
        </div> -->

        <hr>

      </div> <!-- /container -->

    </main>

    <!-- <footer class="container">
      <p>&copy; Company 2017-2018</p>
    </footer> -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="{%static "js/jquery-slim.min.js"%}"><\/script>')</script></script>
    <script src="{%static "js/popper.min.js"%}"></script>
    <script src="{%static "js/bootstrap.min.js"%}"></script>
  </body>
</html>



