{% extends 'base.html' %}
{% load static %}

<script>
{% block jquery %}


var endpoint = '/operating/api/chart/data2/'
var defaultData1 = []
var defaultData2 = []
var defaultData3 = []
var defaultData4 = []

var labels = [];
$.ajax({
    method: "GET",
    url: endpoint,
    success: function(data){
        labels = data.labels
        defaultData1 = data.default_c
        defaultData2 = data.default_i
        defaultData3 = data.default_gp
        defaultData4 = data.default_de
        setChart()
    },       
       
    error: function(error_data){
        console.log("error")
        console.log(error_data)
    }
})
 
// hot = new Handsontable(myChart, {
//     data: defaultData3,
//     rowHeaders: labels,
//     colHeaders: labels,
//     colWidths: 88,
//     maxCols: 10,
//     fillHandle: {
//         autoInsertRow: false,
//     }
// });

// hot.updateSettings({
//     afterChange: function(changes, src) {
//        myChart.update() 
//     }
// })

function setChart(){
    var ctx = document.getElementById("myChart"); 
    var ctx2 = document.getElementById("myChart2");

    var myChart = new Chart(ctx2, {
    type: 'line',
    data: {
        labels: labels,
        datasets: [{
            label: 'Gross Margin percentage - Company',
            data: defaultData3,
            borderColor: "#3e95cd",
            fill : false
        }, { 
            label: 'Gross Margin percentage - Industry',
            data: defaultData2,
            borderColor: "#8e5ea2",
            fill : false  
        }
        ]
    },

    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true,
                    tension: 0,
                }
            }]
        }
    }
});

    var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: labels,
        datasets: [{
            label: 'Debt Equity percentage Company',
            data: defaultData4,
            backgroundColor: [
                'rgba(54, 162, 235, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(54, 162, 235, 0.2)',
            ],
            borderColor: [
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(54, 162, 235, 1)'
            ],
            borderWidth: 1

    
        },{ 
            label: 'Debt Equity Percentage - Industry',
            data: defaultData2,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 99, 132, 0.2)',
            ],
            borderColor: [
                'rgba(255, 206, 86, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(255, 206, 86, 1)'
            ],
            borderWidth: 1
        }
        ]
    },

    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true,
                    tension: 0,
                }
            }]
        }
    }
});

}


{% endblock %}
</script>

{% block content %}

<div class='row'>
    <div class='col-sm-12' url-endpoint='{% url "api-data2" %}'>
        <h1>Comparision of Company Data vs Industry</h1>
         <a class="btn btn-lg btn-block btn-primary" href="/operating/productview/" role="button">Download Table</a>
        <div class='col-sm-6'>
        <canvas id="myChart" width="400" height="400"></canvas>
        </div>
        <div class='col-sm-6'>
            <canvas id="myChart2" width="400" height="400"></canvas>
        </div>    
        
      
    </div>
        
</div>

{% endblock content %}


{% block table %}
<!-- <script src="{%static "js/bootstrap.min.js"%}"></script>
<script src="{%static "js/jquery-slim.min.js"%}"></script>
 --><script src="{%static "js/bootstrap-table.js"%}"></script>
<table id='datatable'></table>
<Script>
$(document).ready(function(){
  $('#datatable').bootstrapTable({
    striped: true,
    pagination: true,
    showColumns: true,
    showToggle: true,
    showExport: true,
    sortable: true,
    paginationVAlign: 'both',
    pageSize: 25,
    pageList: [10, 25, 50, 100, 'ALL'],
    // columns:{{columns|safe}},  // here is where we use the column content from our Django View
    data:{{data|safe}}, // here is where we use the data content from our Django View. we escape the content with the safe tag so the raw JSON isn't shown.
    });
});
</Script>
{% endblock table %}

{% block feedback %}

<a class="nav-link" href="/operating/feedback">Feedback</a>
{% endblock feedback %}